<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="module" src="/js/main.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>Skills / Sistemas Web (2024-2025)</h1>
  </body>
</html>
