body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.skill-tree {
  text-align: center;
  margin-bottom: 20px;
}

.skill-tree-box {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.description {
  text-align: center;
  font-size: 1em;
  margin: 20px 0;
  line-height: 1.5;
}

.color-picker {
  text-align: center;
  margin-bottom: 20px;
}

.color-picker .start-here {
  font-weight: bold;
  margin-top: 10px;
}

.custom-svg {
  margin-top: 20px;
  text-align: center;
}

.custom-svg label {
  display: block;
  margin-bottom: 10px;
}

.custom-svg input[type="text"] {
  width: 200px;
  padding: 5px;
  font-size: 1em;
}

.custom-svg button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.custom-svg button:hover {
  background-color: #0056b3;
}

.svg-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.svg-wrapper {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
}

.svg-wrapper:hover {
  transform: scale(1.2); /* Aumenta el tamaño en un 20% */
}

.icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  opacity: 0; /* Ocultar iconos por defecto */
  transition: opacity 0.3s ease;
}

.svg-wrapper:hover .icons {
  opacity: 1; /* Mostrar iconos en hover */
}

.icon {
  font-size: 1.5em;
  cursor: pointer;
}

.hexagon {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

.selected .hexagon {
  fill: var(--selected-color, yellow);
}

@media print {
  .color-picker {
    display: none;
  }
  .custom-svg{
    display: none;
  }
  .print-button{
    display: none;
  }
}

/* Footer styles */
footer {

  bottom: 0; /* Stick to the bottom of the viewport */
  width: 100%;

  text-align: center;
  background-color: #f0f0f0; /* Light background color */
  border-top: 1px solid #ccc; /* Border on top */
}


/* Estilos específicos para competencia.html */

#competencia-info {
  text-align: center;
  margin-top: 20px;
}

#competencia-info img {
  max-width: 80px;
  margin: 10px 0;
}

#tareas-list, #recursos-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  text-align: left;
  max-width: 400px;
  margin: 0 auto; /* Centrar las listas */
}

#tareas-list li, #recursos-list li {
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 10px;
}

#evidence-form {
  margin-top: 20px;
  display: none; /* Oculto por defecto, se mostrará al completar todas las tareas */
  text-align: center;
}

#confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Evita que interfiera con otros elementos */
  z-index: 1000; /* Por encima de otros elementos */
}

