body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f0f0f0;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.skill-tree {
  text-align: center;
  margin-bottom: 20px;
}

.skill-tree-box {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.description {
  text-align: center;
  font-size: 1em;
  margin: 20px 0;
  line-height: 1.5;
}

.color-picker {
  text-align: center;
  margin-bottom: 20px;
}

.color-picker .start-here {
  font-weight: bold;
  margin-top: 10px;
}

.custom-svg {
  margin-top: 20px;
  text-align: center;
}

.custom-svg label {
  display: block;
  margin-bottom: 10px;
}

.custom-svg input[type="text"] {
  width: 200px;
  padding: 5px;
  font-size: 1em;
}

.custom-svg button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.custom-svg button:hover {
  background-color: #0056b3;
}

.svg-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.svg-wrapper {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
}

.svg-wrapper:hover {
  transform: scale(1.2); /* Aumenta el tamaño en un 20% */
}

.svg-wrapper.done {
  background-color: green;
}

.red-circle {
  visibility: hidden;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #db3434;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: -10%;
  right: 75%;
}

.green-circle {
  visibility: hidden;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #53db34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;

  position: absolute;
  top: -10%;
  right: 0%;
}

.show_circle {
  visibility: visible;
}

.icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  opacity: 0; /* Ocultar iconos por defecto */
  transition: opacity 0.3s ease;
}

.svg-wrapper:hover .icons {
  opacity: 1; /* Mostrar iconos en hover */
}

.icon {
  font-size: 1.5em;
  cursor: pointer;
}

.hexagon {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}

.selected .hexagon {
  fill: var(--selected-color, yellow);
}

@media print {
  .color-picker {
    display: none;
  }
  .custom-svg{
    display: none;
  }
  .print-button{
    display: none;
  }
}

/* Footer styles */
footer {

  bottom: 0; /* Stick to the bottom of the viewport */
  width: 100%;

  text-align: center;
  background-color: #f0f0f0; /* Light background color */
  border-top: 1px solid #ccc; /* Border on top */
}


/* Estilos específicos para competencia.html */

#competencia-info {
  text-align: center;
  margin-top: 20px;
}

#competencia-info img {
  max-width: 80px;
  margin: 10px 0;
}

#tareas-list, #recursos-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  text-align: left;
  max-width: 400px;
  margin: 0 auto; /* Centrar las listas */
}

#tareas-list li, #recursos-list li {
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 10px;
}

#evidence-form {
  margin-top: 20px;
  display: none; /* Oculto por defecto, se mostrará al completar todas las tareas */
  text-align: center;
}

#evidence-form input {
  width: 100%; /* Ocupa todo el ancho disponible */
  max-width: 600px; /* Máximo ancho para evitar que se estire demasiado en pantallas grandes */
  padding: 12px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  border: 2px solid #4c9baf; /* Borde verde */
  border-radius: 8px; /* Bordes redondeados */
  margin: 10px 0; /* Espacio arriba y abajo del input */
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el tamaño total */
}

#evidence-form button{
  display: block;
  background-color: #4c9baf; /* Verde */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado dentro del botón */
  border: none; /* Sin borde */
  border-radius: 12px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  font-size: 16px; /* Tamaño de la fuente */
  margin: 20px auto;
}

#evidence-form button:hover {
  background-color: #4588a0; /* Cambio de color al pasar el mouse */
}

#confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Evita que interfiera con otros elementos */
  z-index: 1000; /* Por encima de otros elementos */
}

/* Estilo para el mensaje de éxito */
#success-message {
  visibility: hidden;
  opacity: 0;
  background-color: #4CAF50;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  border: 1px solid #4CAF50;
  transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
  margin-bottom: 100px;
}

/* Estilo cuando el mensaje está visible */
#success-message.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#description-message{
  visibility: hidden; /* Inicialmente oculto */
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #afa24c; /* Color de fondo */
  color: white;
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease;
  margin-bottom: 20px; /* Espacio desde la parte inferior */
  text-align: center;
}

#description-message.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Estilos generales para la tabla */
#table-evidences {
  width: 50%;
  border-collapse: collapse; /* Para evitar los bordes dobles */
  font-family: Arial, sans-serif; /* Tipografía */
  margin: 0 auto;
}

/* Estilo para las celdas de la tabla */
#table-evidences th, td {
  border: 1px solid #ddd; /* Borde gris claro */
  padding: 8px 12px; /* Espaciado interno */
  text-align: left; /* Alineación de texto */
}

/* Estilo para los encabezados de la tabla */
#table-evidences th {
  background-color: #4c9baf; /* Fondo verde */
  color: white; /* Texto blanco */
  font-weight: bold; /* Negrita */
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}

/* Estilo específico para el botón "Aceptar" */
.btn-accept {
  background-color: #4CAF50; /* Verde */
  color: white;
}

.btn-accept:hover {
  background-color: #45a049; /* Verde más oscuro al pasar el ratón */
}

/* Estilo específico para el botón "Denegar" */
.btn-decline {
  background-color: #f44336; /* Rojo */
  color: white;
}

.btn-decline:hover {
  background-color: #d32f2f; /* Rojo más oscuro al pasar el ratón */
}